name: Deploy

on:
  push:
    branches: [main]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build
    runs-on: windows-latest
    outputs:
      solution: ${{ steps.outvars.outputs.solution }}
      changes: ${{ steps.changes.outputs.src }}
      fullSemVer: ${{ steps.gitversion.outputs.fullSemVer }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install GitVersion
        uses: gittools/actions/gitversion/setup@v4.2.0
        with:
          versionSpec: "6.x"

      - name: Determine Version
        id: gitversion
        uses: gittools/actions/gitversion/execute@v4.2.0
        with:
          updateAssemblyInfo: true

      - uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            src:
              - "Src/**"

      - name: Set up Java
        uses: actions/setup-java@v5
        if: steps.changes.outputs.src == 'true'
        with:
          distribution: "temurin"
          java-version: 21

      - name: Set environment variables
        if: steps.changes.outputs.src == 'true'
        id: envvars
        run: |
          echo "solution=$([io.path]::GetFileNameWithoutExtension($(Get-ChildItem -Path .\* -Include *.sln)))" | Out-File -FilePath $env:GITHUB_ENV -Append
          echo "projectPath=$((Get-ChildItem -Path .\Src\ -Directory | Select-Object -First 1).Name)" | Out-File -FilePath $env:GITHUB_ENV -Append
          echo "sonar_key=$("${{ github.repository }}" -replace "/","_")" | Out-File -FilePath $env:GITHUB_ENV -Append

      - name: Cache SonarCloud packages
        uses: actions/cache@v5
        if: steps.changes.outputs.src == 'true'
        with:
          path: ~\sonar\cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Cache SonarCloud scanner
        id: cache-sonar-scanner
        uses: actions/cache@v5
        if: steps.changes.outputs.src == 'true'
        with:
          path: .\.sonar\scanner
          key: ${{ runner.os }}-sonar-scanner
          restore-keys: ${{ runner.os }}-sonar-scanner

      - name: Install SonarCloud scanner
        if: steps.cache-sonar-scanner.outputs.cache-hit != 'true' && steps.changes.outputs.src == 'true'
        shell: powershell
        run: |
          New-Item -Path .\.sonar\scanner -ItemType Directory
          dotnet tool update dotnet-sonarscanner --tool-path .\.sonar\scanner

      - name: Setup MSBuild Path
        uses: microsoft/setup-msbuild@v2
        if: steps.changes.outputs.src == 'true'
        env:
          ACTIONS_ALLOW_UNSECURE_COMMANDS: true

      - name: Setup Nuget
        uses: NuGet/setup-nuget@v2
        if: steps.changes.outputs.src == 'true'
        env:
          ACTIONS_ALLOW_UNSECURE_COMMANDS: true

      - name: Restore NuGet Packages
        run: nuget restore "${{ env.solution }}.sln"
        if: steps.changes.outputs.src == 'true'

      - name: Build Release
        if: steps.changes.outputs.src == 'true'
        run: msbuild "${{ env.solution }}.sln" -m /p:Configuration=Release /p:RestoreLockedMode=true -verbosity:detailed

      - name: Publish package to NuGet
        if: steps.changes.outputs.src == 'true'
        run: |
          nuget pack Src/${{ env.projectPath }} -Version ${{ env.version }} -Prop Configuration=Release
          nuget push ${{ env.projectPath }}.${{ env.fullSemVer }}.nupkg -Source https://api.nuget.org/v3/index.json -ApiKey ${{ secrets.NUGET_API_KEY }}

      - name: Set env variables to output
        if: steps.changes.outputs.src == 'true'
        id: outvars
        run: |
          echo "solution=${{ env.solution }}" >> $env:GITHUB_OUTPUT

  create_release:
    name: Create Release
    needs: [build]
    runs-on: ubuntu-latest
    if: ${{ needs.build.outputs.changes == 'true' }}
    permissions:
      contents: write

    steps:
      - name: Create Release
        uses: ncipollo/release-action@v1.20.0
        id: create_release
        with:
          allowUpdates: true
          draft: false
          makeLatest: true
          tag: v${{ env.fullSemVer }}
          name: Release v${{ env.fullSemVer }}
          generateReleaseNotes: true
          body: Release ${{ env.fullSemVer }} of ${{ github.repository }}

      - name: Send Webhook
        uses: distributhor/workflow-webhook@v3
        with:
          webhook_type: "json-extended"
          event_name: "release"
          webhook_url: ${{ secrets.RELEASE_WEBHOOK_URL }}
          webhook_secret: '{"x-github-release-token": "${{ secrets.RELEASE_WEBHOOK_TOKEN }}"}'
          data: '{ "tag_name": "v${{ env.fullSemVer }}", "assets": [] }'

  cleanup:
    name: Cleanup
    needs: create_release
    runs-on: ubuntu-latest

    steps:
      - name: Remove artifacts
        uses: geekyeggo/delete-artifact@v5
        with:
          name: "*"
